.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgba(16, 150, 150, 0.49);
}

.name {
  font-family: "Times New Roman", sans-serif;
  font-size: 2em;
  color: #8d18c3;
  background: linear-gradient(
    135deg,
    rgba(141, 24, 195, 0.5),
    rgba(158, 191, 196, 0.5)
  );
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  float: center;
}

.title-1 {
  font-family: "Times New Roman", sans-serif;
  font-size: 2em;
  color: gray;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 4px solid rgba(46, 46, 46, 0.268);
}

.title-1:hover {
  background: rgba(247, 247, 249, 0.49);
  color: #8d18c3;
  border-radius: 10px;
  border: 4px solid rgba(46, 46, 46, 0.268);
}
